.tesla-battery {
  width: 1050px;
  margin: 0 auto;
}

.tesla-battery h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 38px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 50px;
}

.tesla-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 800px) {
  .tesla-battery {
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .tesla-controls {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .tesla-battery {
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .tesla-controls {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 380px;
  }
}
